<% include header %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/upload" method="post" enctype="multipart/form-data">
    	<label class="control-label">Select File</label>
    	<input id="input-1" type="file" name="recfile" class="file">
    	<input type="submit" name="submit" class="btn btn-primary">
    </form>

    <div id="wave">
    	<button onclick='playpause()' class="btn btn-primary">play/pause</button><br>
		<input id='input' value='8000'>cent 
		<button onclick='setDetune()' class="btn btn-primary">set</button>
    </div>
    
<% include footer %>
